* {
    font-family: 'Roboto', sans-serif;
}

.cm-container {
    display: grid;
    place-items: center;
    /* border: 1px solid white; */
}

.cm-header-label,
.cm-col-label {
    width: 100px;
}

.cm-button {
    width: 100px; 
    height: 80px;
    /* background-color: blue */
}